<div class="container">
    <div class="row philosopher-bold">
        <div class="p-3 mb-2 bg-black text-white">
        <h1>Ingreso nuevo producto</h1>
        </div>
        <form class="mb-3 mt-3 g-3 border ">
            <div class="row mt-3 mb-3 d-flex align-items-center">
                <div class="col-sm-2">
                    <label for="elemento" class="form-label">Elemento</label>
                </div>
                <div class="col-sm-10">
                    <select class="form-select" name="elemento" id="elemento">
                        <optgroup label="Productos"> 
                            <option value="Codigodebarra">Código de barra</option>
                            <option value="familia">Familia</option>
                            <option value="producto">Producto</option>
                        </optgroup>
                        <optgroup label="Materiales">
                            <option value="etiquetas">Etiquetas</option>
                            <option value="corchos">Corchos</option>
                            <option value="botellas">Botellas vacías</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="row mt-3 mb-3 d-flex align-items-center">
                <div class="col-sm-2">
                    <label for="ingreso" class="form-label">Motivo del Ingreso</label>
                </div>
                <div class="col-sm-10">
                    <select class="form-select" id="ingreso">
                        <option value="1">Producción</option>
                        <option value="2">Devolución en eventos por clientes</option>
                        <option value="3">Devolución en evento por sobreestimación de stock</option>
                        </select>
                </div>
            </div>
            <div class="row mt-3 mb-3 d-flex align-items-center">
                <div class="col-sm-2">
                    <label for="cantidad" class="form-label">Cantidad</label>
                </div>
                <div class="col-sm-10">
                    <input type="number" id="cantidad" class="form-control">
                </div>
            </div>
            <div class="row mt-3 mb-3 d-flex align-items-center">
                <div class="col-sm-2">
                    <label for="fecha" class="form-label">Fecha</label>
                </div>
                <div class="col-sm-10">
                <input type="date" id="fecha" class="form-control">
                </div>
            </div>
            <div class="row mt-3 mb-3 d-flex align-items-center">
                <div class="col-sm-2">
                    <label for="observaciones" class="form-label">Observaciones</label>
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="col-12 mt-3 mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-light btn-lg rounded-pill mandinga-color">Guardar</button>
            </div>
        </form>
    </div>
</div>